:root {
    --font-family: "Muli", sans-serif;
    // colors
    // // Jaune
    // --light: #f6e58d;
    // --primary:#f1c40f;
    // --dark:#f39c12;
   // bleu
    --light: #00c3ff;
    --primary:#2071e7;
    --dark:#2980b9;
    // // rouge
    // --light: #fab1a0;
    // --primary: #ff7675;
    // --dark:#d63031;
    // // vert
    // --light: #C4E538;
    // --primary:#2ecc71;
    // --dark:#27ae60;   

    --text:#333;
    --background: #fafafa;
    --hint:#999;
    --border:#ddd;
    
}


